clion20.key
disabled_plugins.txt
eval
options/dimensions.xml
options/feature.usage.statistics.xml
options/find.recents.xml
options/find.xml
options/options.xml
options/other.xml
options/recentProjectDirectories.xml
options/runner.layout.xml
options/security.xml
options/statistics.application.usages.xml
options/usage.statistics.xml
options/web-browsers.xml
options/window.manager.xml
plugins/
port
port.lock
