# Git bundles
*.bundle

*.kdbx
clion.key
disabled_plugins.txt
eval
options/actionSummary.xml
options/dimensions.xml
options/feature.usage.statistics.xml
options/features.usage.statistics.xml
options/find.recents.xml
options/find.xml
options/images.support.xml
options/options.xml
options/other.xml
options/pluginAdvertiser.xml
options/proxy.settings.pwd
options/recentProjectDirectories.xml
options/recentProjects.xml
options/runner.layout.xml
options/security.xml
options/statistics.*.xml
options/updates.xml
options/usage.statistics.xml
options/web-browsers.xml
options/window.manager.xml
options/window.state.xml
options/wsl.distributions.xml
pdb.pwd
plugins/
port
port.lock
ssl/
tasks/
terminal/history/
workspace/*.xml
